<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Cat Randomizer | History</title>
</head>
<body>

	<section layout:fragment="custom-content">




		<div class="container">
			<div class="d-flex justify-content-center">


				<div class="row">


					<div class="col-lg-4 col-md-4 col-sm-12"></div>

					<div class="col-lg-4 col-md-4 col-sm-12">
						<img src="/img/lucas.png" class="rounded-circle img-fluid border-secondary"
							alt="Lucas Cerqueira" width=65% height=65%> 
							<p><span
							class="text-justify"><h3>Proudly made with:</h3></span></p>

						<h2></h2>
						<p></p>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-12"></div>

					<div class="col-lg-4 col-md-4 col-sm-12 pt-5">
						<img
							src="https://www.vectorlogo.zone/logos/springio/springio-ar21.svg"
							class="img-fluid"> <span class="text-justify"></span>

						<h2>Spring Boot</h2>
						<p></p>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-12 pt-5">
						<img
							src="https://www.vectorlogo.zone/logos/postgresql/postgresql-icon.svg"
							class="img-fluid"> <span class="text-justify"></span>

						<h2>PostgreSQL</h2>
						<p></p>
					</div>
					
					
					<div class="col-lg-4 col-md-4 col-sm-12 pt-5">
						<img
							src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-icon.svg"
							class="img-fluid"> <span class="text-justify"></span>

						<h2>Bootstrap</h2>
						<p></p>
					</div>
					
					
					<div class="col-lg-12 col-md-12 col-sm-12">
					
					<p></p>
					
					</div>
					
					

					<div class="col-lg-12 col-md-12 col-sm-12 p-5">
						<img src="https://thecatapi.com/meta-tag-image.png"
							class="img-fluid" width=30%> <span class="text-justify"></span>

						<h2>thecatapi.com</h2>
						<p></p>
					</div>
					
						
					
<!-- 					<div class="col-lg-12 col-md-12 col-sm-12"> -->
<!-- 						<img src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg" -->
<!-- 							class="img-fluid" width=4%>  -->
							
<!-- 							<p><span class="text-justify">https://www.linkedin.com/in/cerqueiralucas/</span></p> -->

						
<!-- 						<p></p> -->
<!-- 					</div> -->
					




				</div>












			</div>


		</div>

	</section>
</body>
</html>